<style type="text/css">
    p {
        font-family: verdana;
        font-size: 10;
    }
</style>
<p>
Добрый день!
</p>
<p>
Спасибо, что решили присоединиться к Instabank!
</p>
<p>
Instabank — это простой, красивый и современный банк в вашем iPhone. Мы стараемся сделать все, чтобы Вам было приятно и удобно управлять своими финансами.
</p>
<p>
В данный момент мы усердно работаем над запуском, и известим Вас о нём в ближайшее время. Совсем скоро у Вас появится возможность стать одним из первых пользователей нашего сервиса.
</p>
<p>
Чтобы скрасить ожидание, следите за нашими новостями в <a href="http://www.facebook.com/instabank">Facebook</a>, <a href="http://www.twitter.com/instabankru">Twitter</a> и <a href="http://www.instagram.com/instabankru">Instagram</a>!
</p>

<p>
С уважением,<br/><br/>

Команда Instabank<br/>
<a href="http://www.instabank.ru">www.instabank.ru</a>
</p>