Здравствуйте,<br/>
<p>
    Мы получили Вашу заявку на получение карты Instabank. Instabank - это современный мобильный банк, предназначенный для того, чтобы Вы получали удовольствие от лёгкости и прозрачности распоряжения своими деньгами. Мы ставим безопасность Ваших денежных средств превыше всего, поэтому все Ваши вклады и счета застрахованы с помощью системы обязательного страхования вкладов.
</p>
<p><b>Как начать пользоваться Instabank?</b></p>
<ol>
    <li>Скачайте Instabank в <a href="https://itunes.apple.com/ru/app/instabank/id595302633">App Store</a> или по ссылке <a href="https://itunes.apple.com/ru/app/instabank/id595302633">instabank.ru/install</a></li>
    <li>Зарегистрируйтесь в приложении и закажите в нём карту Instabank.</li>
    <li>Ваша заявка находится в очереди на выпуск и получение банковской карты Instabank. Как только мы будем готовы пригласить Вас, мы свяжемся с Вами для уточнения необходимой информации, после чего доставим карту Вам лично в руки.</li>
</ol>

<p>
    Чтобы скрасить ожидание, следите за нашими новостями в <a href="https://www.facebook.com/Instabank">Facebook</a>, <a href="https://twitter.com/instabankru">Twitter</a> и <a href="http://instagram.com/instabankru/">Instagram</a>!
</p>

С уважением,
<br/><br/>
Команда Instabank<br/>
<a href="https://www.instabank.ru">www.instabank.ru</a>

<p>
    <small>
        Если Вы больше не хотите получать от нас рассылку, Вы можете отписаться от нее, для этого перейдите по <a href="http://instabank.ru/unsubscribe?email=${recipient}">ссылке</a>.
    </small>
</p>
