#{extends 'main.html'/}

	<div class="header-container">
	    <div class="header content">
			<a class="logo" href="/">
                <img src="@{'/public/css/images/logo.png'}" alt="Instabank Logo" width="" height="" />
			</a>
            <ul class="menu">
                <li><a href="@{Application.press()}">Пресса о нас</a></li>
                <li><a href="@{Application.faq()}">Частые вопросы</a></li>
            </ul>
			<div class="langs">
				<span class="item" title="RUS">RUS</span>
				<a class="item" href="javascript:void(0);" title="ENG">ENG</a>
			</div>
	    </div>
	</div>
	<div class="main-container">	
	    <div class="main content">
			
			<div class="page">
				<h1 class="page-title">Частые вопросы</h1>
				<div class="std">
                    #{list items: items, as: 'item'}
                    <div class="faq-item">
                        <p class="title">${item.question.raw()}</p>
                        <p class="answer">${item.answer.raw()}</p>
                        #{if items.comment}
                            <p class="hint">${item.comment.raw()}</p>
                        #{/if}
                    </div>
                    #{/list}
				</div>
			</div>
			
	    </div>
	</div>
