#{extends 'main.html'/}

	<div class="header-container">
	    <div class="header content">
			<a class="logo" href="/">
                <img src="@{'/public/css/images/logo.png'}" alt="Instabank Logo" width="" height="" />
			</a>
            <ul class="menu">
                <li><a href="@{Application.press()}">&{'nav.press'}</a></li>
                <li><a href="@{Application.faq()}">&{'nav.faq'}</a></li>
            </ul>
            <div class="langs">
                <a class="item" href="@{Application.faq("ru")}" title="RUS">RUS</a>
                <a class="item" href="@{Application.faq("en")}" title="ENG">ENG</a>
            </div>
	    </div>
	</div>
	<div class="main-container">	
	    <div class="main content">
			
			<div class="page">
				<h1 class="page-title">&{'nav.faq'}</h1>
				<div class="std">
                    #{list items: items, as: 'item'}
                    <div class="faq-item">
                        <p class="title">${item.question.raw()}</p>
                        <p class="answer">${item.answer.raw()}</p>
                        #{if items.comment}
                            <p class="hint">${item.comment.raw()}</p>
                        #{/if}
                    </div>
                    #{/list}
				</div>
			</div>
			
	    </div>
	</div>
