<!DOCTYPE html>
<html xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Instabank</title>
    <meta name="description" content="Instabank. Re-imagine banking." />

    <meta property="og:title" content="Instabank" />
    <meta property="og:description" content="Instabank. Re-imagine banking." />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="https://www.facebook.com/Instabank" />
    <meta property="og:image" content="@@{'/public/images/instabank.png'}" />
    <meta property="og:site_name" content="Instabank" />
    <meta property="fb:app_id" content="177882139014522" />
    <meta property="fb:admins" content="657129580,100001896453784,100003275223153,100000375640805" />

    <meta name="keywords" content="Instabank, Future of Banking" />

    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta name="viewport" content="width=960"/>

    <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" type="image/x-icon" />

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="@{'/public/css/reset.css'}" media="all" />
    <link rel="stylesheet" type="text/css" href="@{'/public/css/fonts.css'}" media="all" />
	<link rel="stylesheet" type="text/css" href="@{'/public/css/styles.css'}" media="all" />

	<!-- JS -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts/scripts.js'}"></script>

    <script type="text/javascript">
        extras = '${code}';
        subscribe_progress = "&{'subscribing'}";
    </script>

</head>
<body class="home">

<!-- FB -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '177882139014522', // App ID from the App Dashboard
            status     : true, // check the login status upon init?
            cookie     : true, // set sessions cookies to allow your server to access the session?
            xfbml      : true  // parse XFBML tags on this page?
        });

        // Additional initialization code such as adding Event Listeners goes here

    };

    // Load the SDK's source Asynchronously
    (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/ru_RU/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));
</script>

<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=177882139014522";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Google Analytics -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39053086-1']);
    _gaq.push(['_setDomainName', 'instabank.ru']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<div class="wrapper">
	<div class="header-container">
	    <div class="header content">
			<a class="logo" href="http://instabank.ru">
				<img src="@{'/public/css/images/logo.png'}" alt="Instabank Logo" width="" height="" />
			</a>
            <div class="fb-like" data-send="false" data-href="https://www.facebook.com/Instabank" data-layout="button_count" data-width="100" data-show-faces="false" data-action="like"></div>
	    </div>
	</div>
	<div class="main-container">	
	    <div class="main content">
	    
	    	<!-- Leader -->
			<div class="leader">
				<img src="@{'/public/css/images/logo_leader.png'}" class="logo" alt="Instabank Logo"/>
				<p class="callout"><span>Банк,</span> каким он должен быть сегодня.</p>
				<p class="legend">
                    Вы пользуетесь банком почти каждый день,
                    поэтому он должен быть удобным и понятным.<br/>
                    Мы создали банк для тех, кто ценит красоту
                    iPhone и удобство Facebook.
                </p>
			</div>
			
			<!-- Newsletter -->
			<div class="newsletter">
				<p class="callout"><span>Оставьте заявку,</span> чтобы попасть в число первых пользователей.</p>
				<div class="subscribe">
                    <form action="@{Application.subscribe()}" method="post" id="subscribe">
						<div class="input-box">
							<input type="text" class="input-text" value="" name="email" placeholder="Ваш e-mail" />
                            <input type="hidden" value="" name="code"/>
                            <button type="submit" class="button">
								<span><span>Отправить</span></span>
							</button>
						</div>
					</form>
					<div id="subscribe-result"></div>
				</div>
			</div>
			
			<!-- Reports -->
			<div class="report">
				<p class="callout"><span>Выписка</span> еще никогда не была такой понятной.</p>
				<div class="feature">
					<p class="title">Уведомления об операциях</p>
					<p class="descr">
                        Используйте Instabank для покупок или оплаты услуг.
                        Мгновенно получайте уведомления<br/> и наглядные
                        записи о совершенных действиях<br/> в ленте событий.
                    </p>
				</div>
				<div class="feature">
					<p class="title">История операций</p>
					<p class="descr">
                        Читайте в выписке понятные названия операций.
                        Привязывайте совершенные покупки к своему
                        местоположению с помощью Foursquare.<br/> Добавляйте
                        к покупкам комментарии и прикрепляйте фотографии
                        на память.
                    </p>
				</div>
				<div class="feature">
					<p class="title">Удобные отчёты и поиск</p>
					<p class="descr">
                        Instabank автоматически сортирует ваши траты<br/>
                        по категориям и показывает, куда уходят деньги,<br/>
                        с помощью простых диаграмм.<br/> Находите совершенные
                        действия при помощи запросов, таких как “Театр” или
                        “Starbucks”.
                    </p>
				</div>
				<div class="phone"></div>
			</div>
			
			<!-- Social -->
			<div class="social">
				<p class="callout">Простые расчеты с друзьями</p>
				<div class="feature">
					<p class="title">Переводы друзьям</p>
					<p class="descr">
                        Отправить деньги друзьям так же просто
                        как СМС, даже если у них нет Instabank.
                        Без комиссии.
					</p>
				</div>
				<div class="feature">
					<p class="title">Денежные запросы</p>
					<p class="descr">
                        Собирайте деньги на общий подарок другу<br/>
                        или напомнайте друзьям, что Вы оплатили
                        общий счёт в кафе, с помощью функции
                        "Разделить траты".
					</p>
				</div>
				<div class="feature">
					<p class="title">Переводы тем, кто рядом</p>
					<p class="descr">
                        Отправляйте деньги новым друзьям<br/> или знакомым,
                        физически находящимся поблизости, с помощью
                        функции<br/> “Переводы от ближайших людей”.
					</p>
				</div>
			</div>
			
			<!-- Security -->
			<div class="security">
				<p class="callout">Несколько слов о<br/><span>безопасности</span></p>
				<div class="feature">
					<p class="title">PIN-код</p>
					<p class="descr">
                        Мобильное приложение Instabank в вашем
                        смартфоне защищено PIN-кодом, как банковские
                        карты. Удобно и надёжно.
					</p>
				</div>
				<div class="feature">
					<p class="title">Социальный гарант</p>
					<p class="descr">
                        В эпоху социальных сетей девичья фамилия
                        матери - совсем не секрет. Мы разработали
                        революционную систему защиты, в которой
                        вашу личность подтверждают ваши друзья.
					</p>
				</div>
				<div class="feature">
					<p class="title">Шифрование</p>
					<p class="descr">
                        Каждый байт информации надёжно
                        защищён сертифицированными алгоритмами,
                        гарантирующими полную сохранность
                        персональных данных.
					</p>
				</div>
				<div class="phone"></div>
			</div>
			
			<!-- ATM's -->
			<div class="atms">
		    	<p class="callout"><span>Ах да!</span> У Instabank широкая сеть бесплатных банкоматов. Снимайте деньги и пополняйте счет без комиссии.</p>
		    	<div class="cards"></div>
			</div>
	    </div>
	</div>
	
	<div class="footer-container">	
	    <div class="footer content">
	    	<p class="callout">Следите за нами!</p>
			<a href="https://www.facebook.com/Instabank" class="fb">Facebook</a>
			<!-- <a href="javascript:void(0);" class="yt">YouTube</a> -->
			<a href="https://twitter.com/instabankru" class="tw">Twitter</a>
			<a href="http://instagram.com/instabankru/" class="ig">Instagram</a>
	    </div>
	</div>
</div>
</body>
</html>