<!DOCTYPE html>
<html xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Instabank</title>
    <meta name="description" content="Instabank. Re-imagine banking." />

    <meta property="og:title" content="Instabank" />
    <meta property="og:description" content="Instabank. Re-imagine banking." />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="https://www.facebook.com/Instabank" />
    <meta property="og:image" content="@{'/public/images/instabank.png'}" />
    <meta property="og:site_name" content="Instabank" />
    <meta property="fb:app_id" content="177882139014522" />
    <meta property="fb:admins" content="657129580,100001896453784,100003275223153,100000375640805" />

    <meta name="keywords" content="Instabank, Future of Banking" />

    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta name="viewport" content="width=960"/>

    <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" type="image/x-icon" />

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="@{'/public/css/reset.css'}" media="all" />
    <link rel="stylesheet" type="text/css" href="@{'/public/css/fonts.css'}" media="all" />
    #{if play.i18n.Lang.get() == 'en'}
    <link rel="stylesheet" type="text/css" href="@{'/public/css/styles_en.css'}" media="all" />
    #{/if} #{else}
    <link rel="stylesheet" type="text/css" href="@{'/public/css/styles_ru.css'}" media="all" />
    #{/else}
	<!-- JS -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts/scripts.js'}"></script>

    <script type="text/javascript">
        extras = '${code}';
        subscribe_progress = "&{'subscribing'}";
    </script>

</head>
<body class="home">

<!-- FB -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '177882139014522', // App ID from the App Dashboard
            status     : true, // check the login status upon init?
            cookie     : true, // set sessions cookies to allow your server to access the session?
            xfbml      : true  // parse XFBML tags on this page?
        });

        // Additional initialization code such as adding Event Listeners goes here

    };

    // Load the SDK's source Asynchronously
    (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        #{if play.i18n.Lang.get() == 'en'}
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        #{/if} #{else}
        js.src = "//connect.facebook.net/ru_RU/all" + (debug ? "/debug" : "") + ".js";
        #{/else}
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));
</script>

<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=177882139014522";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Google Analytics -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39053086-1']);
    _gaq.push(['_setDomainName', 'instabank.ru']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<div class="wrapper">
	<div class="header-container">
	    <div class="header content">
			<a class="logo" href="http://instabank.ru">
				<img src="@{'/public/css/images/logo.png'}" alt="Instabank Logo" width="" height="" />
			</a>
            <div class="fb-like" data-send="false" data-href="https://www.facebook.com/Instabank" data-layout="button_count" data-width="100" data-show-faces="false" data-action="like"></div>
	    </div>
	</div>
	<div class="main-container">	
	    <div class="main content">

            <!-- Leader -->
            <div class="leader">
                <img src="@{'/public/css/images/logo_leader.png'}" class="logo" alt="Instabank Logo"/>
                <p class="callout">&{'leader.title'}</p>
                <div class="phone"></div>
                <div class="subscribe-container">
                    <div class="subscribe">
                        <p class="hint">&{'leader.subscribe.title'}</p>
                        <form action="@{Application.subscribe}" method="post" id="subscribe">
                            <div class="input-box">
                                <input type="text" class="input-text" value="" name="email" placeholder="&{'leader.email.hint'}" />
                                <input type="hidden" value="" name="code"/>
                                <button type="submit" class="button">
                                    <span><span>&{'leader.subscribe.send'}</span></span>
                                </button>
                            </div>
                        </form>
                        <div id="subscribe-result"></div>
                    </div>
                </div>
            </div>

            <!-- Newsletter -->
            <div class="newsletter">
                <p>
                    &{'newsletter.main'}
                </p>
            </div>

			<!-- Reports -->
			<div class="report">
				<p class="callout">&{'reports.title'}</p>
				<div class="feature">
					<p class="title">&{'reports.bullet_one.title'}</p>
					<p class="descr">&{'reports.bullet_one.description'}</p>
				</div>
				<div class="feature">
					<p class="title">&{'reports.bullet_two.title'}</p>
					<p class="descr">&{'reports.bullet_two.description'}</p>
				</div>
				<div class="feature">
					<p class="title">&{'reports.bullet_three.title'}</p>
					<p class="descr">&{'reports.bullet_three.description'}</p>
				</div>
				<div class="phone"></div>
			</div>
			
			<!-- Social -->
			<div class="social">
				<p class="callout">&{'social.title'}</p>
				<div class="feature">
					<p class="title">&{'social.bullet_one.titile'}</p>
					<p class="descr">&{'social.bullet_one.description'}</p>
				</div>
				<div class="feature">
					<p class="title">&{'social.bullet_two.title'}</p>
					<p class="descr">&{'social.bullet_two.description'}</p>
				</div>
				<div class="feature">
					<p class="title">&{'social.bullet_three.title'}</p>
					<p class="descr">&{'social.bullet_three.description'}</p>
				</div>
			</div>
			
			<!-- Security -->
			<div class="security">
				<p class="callout">&{'security.title'}</p>
				<div class="feature">
					<p class="title">&{'security.bullet_one.title'}</p>
					<p class="descr">&{'security.bullet_one.description'}</p>
				</div>
				<div class="feature">
					<p class="title">&{'security.bullet_two.title'}</p>
					<p class="descr">&{'security.bullet_two.description'}</p>
				</div>
				<div class="feature">
					<p class="title">&{'security.bullet_three.title'}</p>
					<p class="descr">&{'security.bullet_three.description'}</p>
				</div>
				<div class="phone"></div>
			</div>
			
			<!-- ATM's -->
			<div class="atms">
		    	<p class="callout">&{'atm.title'}</p>
		    	<div class="cards"></div>
			</div>
	    </div>
	</div>
	
	<div class="footer-container">	
	    <div class="footer content">
	    	<p class="callout">&{'footer.title'}</p>
			<a href="https://www.facebook.com/Instabank" class="fb">Facebook</a>
			<!-- <a href="javascript:void(0);" class="yt">YouTube</a> -->
			<a href="https://twitter.com/instabankru" class="tw">Twitter</a>
			<a href="http://instagram.com/instabankru/" class="ig">Instagram</a>
	    </div>
	</div>
</div>
</body>
</html>