<!DOCTYPE html>
<html xml:lang="ru" lang="ru" xmlns:fb="http://ogp.me/ns/fb#">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Instabank</title>
	<meta name="description" content="Instabank. Re-imagine banking." />

    <meta property="og:title" content="Instabank" />
    <meta property="og:description" content="Instabank. Re-imagine banking." />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="https://www.facebook.com/Instabank" />
    <meta property="og:image" content="@@{'/public/images/instabank.png'}" />
    <meta property="og:site_name" content="Instabank" />
    <meta property="fb:app_id" content="177882139014522" />
    <meta property="fb:admins" content="657129580,100001896453784,100003275223153,100000375640805" />

	<meta name="keywords" content="Instabank, Future of Banking" />
	
	<meta name="viewport" content="width=1020" />

	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" type="image/x-icon" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles.css'}" media="all" />
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/fonts.css'}" media="all" />
	
	<!-- JS -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts/scripts.js'}"></script>
    <script type="text/javascript">
        extras = '${code}';
        subscribe_progress = "&{'subscribing'}";
    </script>

</head>

<body>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '177882139014522', // App ID from the App Dashboard
                status     : true, // check the login status upon init?
                cookie     : true, // set sessions cookies to allow your server to access the session?
                xfbml      : true  // parse XFBML tags on this page?
            });

            // Additional initialization code such as adding Event Listeners goes here

        };

        // Load the SDK's source Asynchronously
        (function(d, debug){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/ru_RU/all" + (debug ? "/debug" : "") + ".js";
            ref.parentNode.insertBefore(js, ref);
        }(document, /*debug*/ false));
    </script>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=177882139014522";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39053086-1']);
        _gaq.push(['_setDomainName', 'instabank.ru']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


    <div class="wrapper">
		<div class="page">
			<div class="info">
				<h1 class="title">Банк, каким он<br />должен быть<br />сегодня.</h1>
				<div class="subscribe">
					<form action="@{Application.subscribe()}" method="post" id="subscribe">
						<h2>Узнай первым</h2>
						<div class="input-box">
							<input type="text" class="input-text" value="" name="email" placeholder="e-mail" />
                            <input type="hidden" value="" name="code"/>
							<button type="submit" class="button">
								<span>Получить приглашение</span>
							</button>
						</div>
					</form>
					<div id="subscribe-result"></div>
                    <div style="margin-top: 20px;">
                        <div class="fb-like" data-href="https://www.facebook.com/Instabank" data-send="true" data-width="450" data-show-faces="true"></div>
                    </div>
                </div>
			</div>
			<div class="img"></div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>