<p>
    ПУБЛИЧНАЯ ОФЕРТА ОБ ОСУЩЕСТВЛЕНИИ РАСЧЕТОВ ПО ОПЕРАЦИЯМ С
    ИСПОЛЬЗОВАНИЕМ ПРЕДОПЛАЧЕННОЙ БАНКОВСКОЙ КАРТЫ Instabank
    АКБ "ВПБ" (ЗАО)
    Москва
    2013

    Настоящая оферта (далее – «Оферта») адресована физическим лицам и является официальным
    публичным предложением АКБ «ВПБ» (ЗАО) заключить договор об осуществлении безналичных
    расчетов по операциям с использованием виртуальной предоплаченной банковской карты Instabank
    АКБ «ВПБ» (ЗАО) в соответствии с п. 2 ст. 437 ГК РФ. Договор об осуществлении расчетов по операциям
    с использованием предоплаченной банковской карты Instabank АКБ «ВПБ» (ЗАО) считается заключенным
    и приобретает силу с момента совершения физическим лицом действий, предусмотренных Офертой и
    означающих безоговорочное принятие физическим лицом всех условий Оферты без каких-либо изъятий
    или ограничений на условиях присоединения (в соответствии с п. 1 ст. 428 ГК РФ).
    1.
    Термины и определения
    Авторизация – разрешение, предоставляемое Банком для проведения Операций и являющееся
    основанием возникновения обязательств Банка по исполнению Распоряжений.
    АПК Банка – аппаратно-программный комплекс Банка, позволяющий Физическому лицу осуществлять
    Операции и обмениваться с Банком электронными документами через Интернет-ресурсы Банка и/или
    Партнера, платежные терминалы Банка.
    Банк – Акционерный коммерческий Банк «Военно-Промышленный Банк» (Закрытое акционерное
    общество) (АКБ «ВПБ» (ЗАО)). Лицензия Банка России на осуществление банковских операций № 3065.
    Место нахождения: 115477, Россия, г.Москва, ул.Кантемировская, д.59А
    Блокирование Карты – процедура установления Банком технического ограничения на совершение
    Операций, в том числе предусматривающего отказ Банка в предоставлении Авторизации.
    Денежные средства – денежные средства, предоставленные Физическим лицом Банку без открытия
    банковского счета для увеличения Платежного лимита по Карте, а также денежные средства,
    поступившие на Счет в пользу Физического лица от Получателей по Операциям возврата покупки.

    Договор – Договор об осуществлении расчетов по операциям с использованием предоплаченной
    банковской карты Instabank АКБ «ВПБ» (ЗАО), заключаемый на условиях, изложенных в Оферте, а также
    Тарифы Банка за оформление Карты и осуществление операций с её использованием
    Интернет-ресурсы – специализированные разделы (личный кабинет, виртуальный терминал, система
    интернет-банкинга и т.п.) на Сайте Банка и/или Партнера в сети Интернет, защищенные специальными
    средствами защиты и предоставляющие Физическому лицу возможность дистанционного проведения в
    АПК Банка Операций посредством интернет-канала через Сайт Банка и/или Партнера в сети Интернет
    в порядке, предусмотренном Условиями использования Интернет-ресурсов Банка и/или правилами
    использования Интернет-ресурсов, определенными Партнером.
    Карта – виртуальная предоплаченная банковская карта Instabank АКБ «ВПБ» (ЗАО), являющаяся
    неперсонифицированным электронным средством платежа, оформляемая Банком и удостоверяющая
    денежное обязательство Банка перед Физическим лицом по совершению Операции от своего имени в
    пределах суммы Платежного лимита. Банк присваивает Карте уникальный номер, состоящий из 16-ти
    знаков.
    Логин – уникальная последовательность цифровых символов, присвоенная Физическому лицу при
    регистрации в Интернет-ресурсах Банка и/или Партнеров, позволяющая идентифицировать Физическое
    лицо. В качестве Логина используется номер мобильного телефона Физического лица или номер Карты.
    Неперсонифицированное электронное средство платежа/Неперсонифицированная Карта –
    электронное средство платежа, при использовании которого не проводится идентификация Банком
    Физического лица в соответствии с Федеральным законом от 07.08.2001 № 115-ФЗ «О противодействии
    легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма».
    Операция – зачисление на основании расчетной информации, поступившей в Банк, Денежных средств
    на Счет; Перевод, осуществляемый на основании Распоряжения; выдача наличных денежных средств по
    Карте, а также списание комиссий, предусмотренных Тарифами.
    Операция возврата покупки - денежные средства, перечисляемые Получателем в порядке,
    установленном законодательством РФ, в связи с возвратом Физическим лицом товара/отмены услуги,
    ранее оплаченных Физическим лицом с использованием Реквизитов Карты.
    Оформление Карты – присвоение Банком Карте статуса, позволяющего Физическому лицу осуществлять
    Операции, и предоставление Банком Физическому лицу информации о Реквизитах Карты в печатной или
    в электронной форме, в том числе путем направления sms-сообщения на номер мобильного телефона,
    указанный Физическим лицом при оформлении Карты.

    Партнер – юридическое лицо или физическое лицо, зарегистрированное в качестве индивидуального
    предпринимателя, установившее с Банком договорные отношения, в рамках которых осуществляет
    предоставление Физическим лицам Карт и обеспечение возможности использования Реквизитов Карты
    для последующего осуществления Физическим лицом Операций. Список Партнеров размещен на Сайте
    Банка.
    Перевод - операция по безналичному перечислению денежных средств для оплаты товаров (работ, услуг,
    результатов интеллектуальной деятельности), осуществляемая Банком от своего имени за счет Денежных
    средств, предоставленных Физическим лицом, в пользу Получателя на основании Распоряжения, в том
    числе Трансграничный перевод.
    Платежный лимит – остаток денежных средств на Карте, в пределах которого Физическое лицо
    вправе совершать Операции за вычетом сумм осуществленных Переводов, заблокированных на Счете с
    учетом комиссий, предусмотренных Тарифами. Блокировка суммы Перевода (уменьшение Платежного
    лимита) производится в момент принятия Банком от Физического лица Распоряжения с проведением
    Авторизации. Максимальная сумма Платежного лимита составляет 15 000 (Пятнадцать тысяч) рублей
    РФ. Дополнительное перечисление Денежных средств для увеличения Платежного лимита по Карте
    Офертой не допускается. Банк не начисляет проценты на остаток денежных средств по Карте.
    Получатель – конечный получатель денежных средств, в адрес которого осуществляется Перевод, а
    именно:
    • физическое лицо, которому Банк на основании Распоряжения осуществляет Перевод, не связанный с
    осуществлением физическим лицом предпринимательской деятельности или частной практики;
    • юридическое лицо, за исключением кредитной организации, или физическое лицо,
    зарегистрированное в качестве индивидуального предпринимателя, получающие
    денежные
    средства Физического лица за реализуемые товары, выполняемые работы, оказываемые услуги,
    распространение результатов интеллектуальной деятельности;
    • юридическое лицо – некоммерческая организация, принимающая денежные средства от физических
    лиц на безвозмездной основе, включая благотворительные, религиозные, социальные, культурные,
    образовательные или иные общественно полезные цели;
    • юридическое лицо или физическое лицо, зарегистрированное в качестве индивидуального
    предпринимателя, которому вносится плата за жилое помещение и коммунальные услуги, а также
    органы государственной власти и местного самоуправления, бюджетные учреждения, получающие
    денежные средства Физического лица в рамках выполнения ими функций, установленных
    законодательством Российской Федерации;
    • кредитная организация, получающая денежные средства Физического лица в рамках установленных
    договорных отношений (погашение ссудной задолженности, пополнение текущего счета, пополнение
    счета банковских карт и пр.).
    Пункт выдачи наличных Банка – операционная касса Банка/филиала Банка, кассы внутренних
    структурных подразделений (дополнительных офисов, операционных офисов, кредитно-кассовых офисов,
    операционные кассы вне кассового узла) Банка/филиала Банка, в которых осуществляется расчетно-
    кассовое обслуживание физических лиц.
    Распоряжение – электронный документ, содержащий поручение Физического лица Банку на совершение
    Операций, а также информацию, позволяющую осуществить Перевод, составленный и переданный
    Физическим лицом в Банк для осуществления Перевода.
    Реквизиты Карты – номер Карты, код CVV2, Срок действия Карты, Платежный лимит, а также иная
    информация, хранящаяся в АПК Банка, необходимая для осуществления Операций. Реквизиты Карты
    используются Банком для осуществления расчетов по Операциям.
    Сайт Банка – web-сайт в сети Интернет www.vpb.su, принадлежащий Банку.
    Срок действия Карты – период времени, в течение которого Физическое лицо вправе совершать
    Операции. Банком выпускаются Карты со Сроком действия не более 365 дней, начиная с даты
    Оформления Карты.
    Счет – аналитический счет, открываемый Банком в своей системе бухгалтерского учета для учета
    Денежных средств, предоставленных Физическим лицом для совершения Операций с использованием
    Карты, и не являющийся банковским счетом Физического лица.
    Тарифы – размеры вознаграждений (комиссий) Банка за Оформление Карты и осуществление Операций с
    её использованием.
    Трансграничный перевод – Перевод, при осуществлении которого Получатель находится за пределами
    Российской Федерации, и/или Перевод, при осуществлении которого Получателя обслуживает

    иностранный центральный (национальный) банк или иностранный банк. Термин употребляется в случаях,
    требующих специального указания на осуществление Трансграничного перевода. Во всем остальном
    в отношении Трансграничного перевода применяются порядок и условия, установленные Офертой в
    отношении Переводов.
    Уведомление – сообщение, передаваемое Банком Физическому лицу в печатной форме или направляемое
    Банком Физическому лицу в электронной форме, в том числе в виде sms-сообщения на номер мобильного
    телефона Физического лица, указанный Физическим лицом при Оформлении Карты.
    Условия использования Интернет-ресурсов Банка – документ, определяющий порядок использования
    Интернет-ресурсов Банка, являющийся неотъемлемой частью Договора и содержащийся в Приложении к
    Оферте.
    Утрата Реквизитов Карты – незаконное получение информации о Реквизитах Карты третьими лицами
    (за исключением Физического лица и Банка) и их использование без согласия Физического лица.
    Физическое лицо – физическое лицо, заключившее Договор.
    Электронное средство платежа – средство и/или способ, позволяющие Физическому лицу составлять,
    удостоверять и передавать Распоряжения в целях осуществления Операций по Карте в рамках
    применяемых форм безналичных расчетов с использованием Интернет-ресурсов, а также иных
    информационно-коммуникационных технологий и технических устройств Банка и/или Партнера.
    2.
    Предмет Договора
    Банк Оформляет Карту Физическому лицу и исполняет Распоряжения Физического лица, а также
    осуществляет расчеты по Операциям, а Физическое лицо выплачивает Банку вознаграждение за
    Оформление Карты и осуществление Операций в соответствии с Тарифами.

    3.
    Общие положения
    3.1. Настоящая Оферта должна рассматриваться Физическим лицом как публичное предложение
    Банка заключить Договор присоединения на условиях, определенных в Оферте. Оферта в том
    числе определяет порядок Оформления Карт и использования Интернет-ресурсов Банка, а также
    регулирует отношения между Банком и Физическим лицом (далее – «Стороны»), возникающие
    при исполнении Распоряжений и осуществлении расчетов по Операциям. Оферта доступна для
    ознакомления на платежных терминалах Банка, Сайте Банка и web-сайтах Партнеров в сети
    Интернет.
    3.2. Оферта распространяется только на Физических лиц (резидентов и нерезидентов).
    3.3. Договор между Банком и Физическим лицом заключается путем акцепта Физическим лицом
    Оферты. Акцептом Оферты является совокупность следующих действий:
    3.3.1. Совершение Физическим лицом действий по Оформлению Карты в соответствии с п.4.1-4.2
    Оферты
    3.3.2. Пополнение Счета с целью увеличения Платежного лимита Карты Физическим лицом или
    любым третьим лицом по поручению либо без поручения Физического лица.
    Осуществление указанных действий рассматривается как полное и безусловное согласие
    Физического лица с условиями Оферты.
    3.4. Действия Физического лица по приобретению Карты не ограничены сроком и могут быть
    осуществлены в любой день до момента официального отзыва Оферты в соответствии с п.11.7
    Оферты.
    3.5. Банк осуществляет Оформление Неперсонифицированных Карт и прием Распоряжений, в том числе
    с привлечением Партнеров. Список Партнеров размещен в сети Интернет на Сайте Банка.
    3.6. Карта предназначена для совершения Переводов в сети Интернет. Карта не может быть
    использована для оплаты товаров (работ, услуг, результатов интеллектуальной деятельности) вне
    сети Интернет.
    3.7. Банк осуществляет расчеты по Операциям в валюте Российской Федерации в соответствии с
    законодательством Российской Федерации, внутренними нормативными и распорядительными
    документами Банка.
    3.8. Предоставление Денежных средств для последующего зачисления на Счет может быть
    осуществлено: наличными денежными средствами, путем безналичного перечисления денежных
    средств с банковской карты либо с банковского счета физического/юридического лица, открытого в
    Банке или иной кредитной организации, а также с использованием Электронных средств платежа,
    в том числе предоставленных Партнерами. Зачисление предоставленных денежных средств
    на Счет осуществляется Банком не позднее рабочего дня, следующего за днем поступления в
    Банк соответствующего расчетного документа. По факту зачисления денежных средств на Счет

    Платежный лимит увеличивается на сумму такого зачисления.
    3.9. В случае если в результате зачисления Денежных средств размер Платежного лимита,
    установленного для Неперсонифицированной Карты, превышает максимальную сумму Платежного
    лимита, сумма такой операции в полном объеме зачисляется Банком на счет обязательств по прочим
    операциям. Востребование Физическим лицом денежных средств, зачисленных на счет обязательств
    по прочим операциям, может быть осуществлено Физическим лицом в течение 3 (трех) лет с даты
    такого зачисления. Возврат денежных средств Физическому лицу со счета обязательств по прочим
    операциям осуществляется Банком на основании соответствующего заявления Физического лица
    либо наличными денежными средствами через Пункты выдачи наличных Банка либо безналичным
    путем по реквизитам, указанным в заявлении. Заявление оформляется Физическим лицом при
    личном обращении в Банк.
    3.10. За совершение Операций Банк взимает комиссию с Физического лица в соответствии с Тарифами,
    действующими на дату совершения Операции. Физическое лицо предоставляет Банку право
    списывать (заранее данный акцепт) без дополнительного распоряжения Физического лица комиссию
    по совершенным Операциям с Карты. Списанная Банком комиссия за Операцию
    уменьшает
    Платежный лимит.
    3.11.Физическое лицо поручает Банку составлять и подписывать расчетные документы от имени
    Физического лица, необходимые для осуществления Перевода на основании Распоряжения, в том
    числе в виде заявления Физического лица, представленного в Банк либо при непосредственном
    обращении, либо посредством Интернет-ресурсов Банка и/или Партнера.
    3.12. При приобретении Карты и осуществлении Операций через Интернет-ресурсы Партнера Банка,
    Физическое лицо поручает Банку передавать Партнеру данные о проведенных Операциях, включая
    Реквизиты Карты.
    3.13. Банк по истечении 45 (Сорока пяти) календарных дней с даты прекращения действия Договора, а
    также по истечении 45 (Сорока пяти) календарных дней с даты Блокирования Карты, осуществляет
    возврат остатка денежных средств по Карте способом, указанным Физическим лицом в заявлении на
    возврат остатка денежных средств с Карты, не позднее срока, предусмотренного законодательством
    Российской Федерации. Заявление оформляется Физическим лицом при личном обращении в Банк.
    3.14. В случае неполучения Банком по истечении 45 (Сорока пяти) календарных дней от Физического
    лица письменного заявления на возврат остатка денежных средств с Карты, Банк зачисляет
    указанный остаток денежных средств на счет обязательств по прочим операциям. Востребование
    Физическим лицом остатка денежных средств со счета обязательств по прочим операциям может
    быть осуществлено Физическим лицом в течение 3 (трех) лет с даты прекращения действия
    Договора/Блокирования Карты. Возврат денежных средств Физическому лицу со счета обязательств
    по прочим операциям осуществляется Банком на основании соответствующего заявления
    Физического лица либо наличными денежными средствами через Пункты выдачи наличных
    Банка либо безналичным путем по реквизитам, указанным в заявлении. Заявление оформляется
    Физическим лицом при личном обращении в Банк.
    3.15. Банк предоставляет Физическому лицу всю необходимую информацию, предусмотренную п.12
    ст.5 Федерального закона от 27.06.2011 № 161-ФЗ «О национальной платежной системе», путем
    размещения информации в местах оказания Банком услуг (на Сайтах Банка и Партнеров, в
    интерфейсах платежных терминалов Банка, в офисах Банка), а также рассматривает вопросы и
    претензии, связанные с расчетами по Операциям, на условиях и в порядке, предусмотренных
    Договором.

    4. Оформление и обслуживание Карты
    4.1. Оформление Карты Банком осуществляется на основании электронного заявления, составленного и
    переданного Физическим лицом в Банк через Интернет-ресурсы Банка и/или Партнера.
    4.2. Оформление Карты осуществляется Банком исключительно в электронной форме путем передачи
    Физическому лицу Реквизитов Карты в печатной форме, направлением sms-сообщения на номер
    мобильного телефона, указанный Физическим лицом в электронном заявлении на Оформление
    Карты, составленном и переданном в Банк в соответствии с п.4.1 Оферты, либо в соответствующем
    персональном разделе Физического лица на Интернет-ресурсе Партнера.
    4.3. Банк осуществляет Оформление Карт в валюте Российской Федерации.
    4.4. Карта может использоваться только Физическим лицом. Ответственность за использование
    Реквизитов Карты несет Физическое лицо. Передача Физическим лицом Реквизитов Карты
    третьим лицам не допускается.
    4.5. При потере Физическим лицом Реквизитов Карты в любых случаях, за исключением Утраты
    Реквизитов Карты, Карта не восстанавливается, остаток денежных средств по ней не возвращается.

    4.6. В случае обнаружения Утраты Реквизитов Карты или незаконного использования Реквизитов
    Карты, а также в случае если Физическое лицо подозревает возможность возникновения подобных
    ситуаций, Физическое лицо обязано незамедлительно после обнаружения перечисленных фактов
    уведомить об этом Банк, но не позднее дня, следующего за днем получения от Банка Уведомления о
    совершенной Операции. О перечисленных фактах Физическое лицо уведомляет Банк по телефонам,
    указанным в п.10.6 Оферты, либо путем направления соответствующего электронного заявления на
    Блокирование Карты через Интернет-ресурсы Банка и/или Партнера.
    4.7. При получении Банком от Физического лица по телефону устного уведомления об Утрате
    Реквизитов Карты Банк в течение 30 минут осуществляет блокирование Карты. При этом
    Физическое лицо должно подтвердить свое устное уведомление, направив в Банк соответствующее
    электронное заявление любым доступным ему способом в течение 3 (Трех) календарных дней с
    даты обращения в Банк по телефону. В противном случае Банк оставляет за собой право снять
    блокирование Карты, и в этом случае ответственность за дальнейшее использование Реквизитов
    Карты несет Физическое лицо.
    4.8. После получения Банком от Физического лица устного уведомления об Утрате Реквизитов Карты
    или после исполнения Банком электронного заявления на Блокирование карты в соответствии с
    п.4.6 Оферты, ответственность Физического лица за дальнейшее использование Реквизитов Карты
    прекращается, за исключением случаев, когда Банку стало известно, что незаконное использование
    Реквизитов Карты имело место с согласия Физического лица, а также в случае, изложенном в п.4.7
    Оферты.
    4.9. Ущерб, причиненный Банку Физическим лицом вследствие неисполнения или ненадлежащего
    исполнения п.п.4.5 – 4.8 Оферты, подлежит безусловному возмещению Банку.
    4.10. Риски, связанные с проведением третьими лицами Операций с использованием утраченных
    Реквизитов Карты, несет Физическое лицо до момента уведомления Банка об Утрате
    Реквизитов Карты.
    4.11. До момента получения Банком сообщения от Физического лица об Утрате Реквизитов Карты,
    Банк списывает денежные средства со Счета в порядке, предусмотренном разделом 5 Оферты.
    До момента получения Банком сообщения об Утрате Реквизитов Карты Физическое лицо несет
    ответственность за все Операции, совершаемые третьими лицами с использованием Реквизитов
    Карты с ведома или без ведома Физического лица.
    4.12. При Утрате Реквизитов Карты Банк осуществляет Блокирование Карты по факту получения от
    Физического лица уведомления об Утрате Реквизитов Карты в соответствии с пп.4.6-4.7 Оферты.
    4.13. Банк имеет право осуществить Блокирование Карты в следующих случаях:
    4.13.1. выявление Банком неправомерных Операций с использованием Реквизитов Карты;
    4.13.2.если Банку становится известно о том, что Физическое лицо, зарегистрированное
    на Интернет-ресурсах Банка по одному и тому же Логину, оформило несколько
    Неперсонифицированных Карт, суммарный Платежный лимит на которых в определенный
    момент времени превысил сумму 15 000 (пятнадцать тысяч) рублей РФ.
    4.14. В случае Блокирования Карты Договор расторгается по истечении 45 (сорока пяти) календарных
    дней с даты Блокирования Карты. Остаток неизрасходованных денежных средств возвращается
    Физическому лицу в порядке, предусмотренном п.3.13 и п.3.14 Оферты, за исключением
    Блокирования Карт Банком по причинам, указанным в п.4.13.2 Оферты. В этом случае
    разблокирование Карт и совершение Операций по ним осуществляется Банком после личного
    обращения Физического лица в Банк в порядке, предусмотренном п.3.9 Оферты.
    4.15. При прекращении действия Договора Карта прекращает свое действие.

    5. Порядок приема и исполнения Распоряжений на Перевод
    5.1. Банк осуществляет Перевод в пределах и при условии достаточности Платежного лимита для
    осуществления Перевода и удержания комиссий, предусмотренных Тарифами, на основании
    Распоряжения, составленного и переданного Физическим лицом в Банк одним из следующих
    способов:
    5.1.1. через Интернет-ресурсы Банка. В данном случае Перевод осуществляется на основании
    Распоряжения, составленного и переданного Физическим лицом в Банк посредством Интернет-
    ресурсов Банка в соответствии с Условиями использования Интернет-ресурсов Банка;
    5.1.2. через Электронные средства платежа Партнеров Банка. В данном случае Перевод осуществляется
    на основании Распоряжения, оформленного по формам, размещенным на Интернет-ресурсах
    Партнеров, с учетом требований, предусмотренных п.5.2 Оферты;

    5.1.3. через платежные терминалы Банка. В данном случае Перевод осуществляется на основании
    Распоряжения, оформленного по формам, используемым в интерфейсах платежных терминалов
    Банка.
    5.2. В Распоряжении в обязательном порядке должна быть указана следующая информация:
    • Реквизиты Карты;
    • платежные реквизиты Получателя, в пользу которого осуществляется Перевод;
    • сумма в валюте РФ.
    5.3. Исполнение Распоряжения, переданного в соответствии с п.5.1 и п.5.2 Оферты, осуществляется
    Банком в срок не более трех рабочих дней, начиная со дня поступления Распоряжения в Банк.
    5.4. Перевод осуществляется путем одновременного принятия Банком от Физического лица
    Распоряжения и блокирования суммы Перевода, указанной Физическим лицом в Распоряжении, с
    учетом комиссий, предусмотренных Тарифами. Блокирование суммы Перевода осуществляется
    в момент принятия Банком от Физического лица Распоряжения с проведением Авторизации. При
    этом Платежный лимит Карты уменьшается, и совершенный Перевод становится безотзывным. В
    момент зачисления суммы Перевода на банковский счет кредитной организации, обслуживающей
    Получателя, Перевод становится окончательным. При этом денежное обязательство Физического
    лица перед Получателем прекращается, равно как и обязательство Банка перед Физическим лицом
    по совершению Перевода.
    5.5. При осуществлении Трансграничного перевода Банк осуществляет конвертацию суммы Денежных
    средств в валюту Трансграничного перевода, указанную Физическим лицом в Распоряжении,
    по курсу Банка, установленному на день поступления в Банк Распоряжения. За осуществление
    Трансграничного перевода Банк взимает с Физического лица комиссию в соответствии с Тарифами.
    Комиссия, взимаемая Банком за осуществление Трансграничного перевода, уменьшает Платежный
    лимит и уплачивается Физическим лицом дополнительно к сумме Трансграничного перевода.
    5.6. По факту исполнения Распоряжения Банк направляет Физическому лицу Уведомление одним из
    следующих способов:
    - в печатной форме посредством платежных терминалов Банка;
    - в электронном виде посредством Интернет-ресурсов Банка или Партнера;
    - посредством отправки sms-сообщения на номер мобильного телефона, указанный Физическим
    лицом при Оформлении Карты.
    5.7. Общая сумма осуществляемых Переводов с учетом комиссий, предусмотренных Тарифами, не
    может превышать 40 000 (Сорок тысяч) рублей в течение календарного месяца .
    5.8. При недостаточности Платежного лимита для осуществления Перевода с учетом комиссий,
    предусмотренных Тарифами, Распоряжение к исполнению Банком не принимается. О неисполнении
    Перевода Банк направляет Физическому лицу Уведомление.
    5.9. При поступлении в Банк денежных средств по Операции возврата покупки, сумма такой операции
    может быть зачислена на Счет только после проведения Банком процедуры расследования.
    Срок проведения расследования не может превышать 45 (Сорок пять) календарных дней от даты
    поступления расчетного документа по Операции возврата покупки в Банк. После проведения
    расследования сумма Операции возврата покупки зачисляется на Счет при условии, что Срок
    действия Карты не истек и Платежный лимит с учетом суммы по Операции возврата покупки не
    превысит максимальную сумму Платежного лимита. Перевод денежных средств, зачисленных на
    Счет по Операции возврата покупки, или их выдача наличными средствами осуществляется Банком
    на основании Заявления, оформленного при личном обращении Физического лица в Банк.
    5.10. В случае превышения Платежного лимита либо истечения Срока действия Карты сумма Операции
    возврата покупки в полном объеме зачисляется Банком на счет обязательств по прочим операциям.
    Востребование Физическим лицом денежных средств, зачисленных на счет обязательств по прочим
    операциям, осуществляется в порядке, предусмотренном п.3.9 Оферты.
    5.11. Получатель самостоятельно определяет порядок и способы возврата Физическому лицу денежных
    средств по Операции возврата покупки. Выяснение споров о причине невозврата денежных средств
    по Операции возврата покупки на Счет осуществляется между Физическим лицом и Получателем,
    осуществляющим возврат денежных средств по Операции возврата покупки.

    Порядок приема и исполнения Заявлений на выдачу наличных денежных средств и возврат
    неизрасходованного остатка по Карте.
    6.1. Возврат неизрасходованного остатка по Карте/счету обязательств по прочим операциям,
    осуществляется в Пунктах выдачи наличных Банка при личном обращении Физического лица и
    предоставления им соответствующего заявления. Срок обработки Банком заявления составляет не
    более 3 (Трех) рабочих дней с момента его предъявления Физическим лицом. Банк выдает наличные

    денежные средства по Карте с не истекшим Сроком действия, внесенные Физическим лицом при
    Оформлении Карты, в срок не позднее 3 (Трех) рабочих дней с даты приема Банком от Физического
    лица Заявления на выдачу наличных денежных средств по Карте. Возврат неизрасходованного
    остатка по Заблокированной Карте или счету обязательств по прочим операциям осуществляется
    Банком в срок не ранее, чем через 45 (Сорок пять) календарных дней с даты Блокирования Карты,
    и не позднее 60 (Шестидесяти) календарных дней с даты приема Банком от Физического лица
    Заявления на возврат остатка денежных средств.
    6.2. Выдача наличных денежных средств осуществляется после проведения Банком идентификации
    Физического лица в соответствии с Федеральным законом от 7 августа 2001 года № 115-
    ФЗ «О противодействии легализации (отмыванию) доходов, полученных преступным путем, и
    финансированию терроризма» на основании соответствующего заявления.
    7.
    Права и обязанности Банка
    7.1. Банк имеет право:
    7.1.1. отказать Физическому лицу в совершении Операции в случае технической невозможности
    совершения такой Операции, а также в случае, если размер Платежного лимита меньше суммы
    Операции с учетом комиссий, предусмотренных Тарифами;
    7.1.2. использовать указанный Физическим лицом при Оформлении Карты номер мобильного телефона
    для передачи Физическому лицу Уведомлений, содержащих информацию о Реквизитах Карты,
    факте совершения Операции, сведения о Платежном лимите, а также иную информацию, в том
    числе о других предоставляемых Банком услугах;
    7.1.3. в одностороннем порядке вносить изменения и дополнения в Оферту и/или Тарифы. Уведомление
    Физического лица об изменении Оферты и/или Тарифов осуществляется Банком не позднее,
    чем за 10 (Десять) дней до даты введения в действие изменений/новой редакции Оферты и/или
    Тарифов путем размещения текста изменений/новой редакции Оферты и/или Тарифов на Сайте
    Банка. Любые изменения Оферты и/или Тарифов становятся обязательными для Сторон с даты
    введения их в действие;
    7.1.4. в одностороннем порядке устанавливать и изменять (увеличивать, уменьшать) ограничения на
    совершение Операций;
    7.1.5. осуществить Блокирование Карты до окончания Срока действия Карты в случаях получения
    информации:
    7.1.5.1. об Утрате Реквизитов Карты;
    7.1.5.2. неисполнения Физическим лицом условий Договора.
    7.1.6. по собственному усмотрению в любой момент определять и изменять перечень Получателей,
    устанавливать ограничения на суммы Операций, а также прекратить работу Интернет-ресурсов
    Банка, как с предварительным уведомлением Физического лица, так и без такового.
    7.2. Банк обязан:
    7.2.1. осуществить Оформление Карты после наступления событий, предусмотренных п. 3.3. Оферты;
    7.2.2. осуществлять расчеты по Операциям с момента Оформления Карты в пределах Платежного
    лимита;
    7.2.3. обеспечить конфиденциальность информации, ставшей известной Банку при исполнении
    обязательств по Договору;
    7.2.4. в момент Оформления Карты направить Физическому лицу Реквизиты Карты в порядке,
    предусмотренном п.4.2 Оферты;
    7.2.5. уведомлять Физическое лицо об изменении Оферты и/или Тарифов в соответствии с п.7.1.3.
    Оферты;
    7.2.6. по истечении 45 (Сорока пяти) календарных дней со дня прекращения действия Договора/
    Блокирования Карты перечислить остаток неизрасходованных денежных средств в порядке,
    предусмотренном п.3.14 и п.3.15 Оферты.

    8.
    Права и обязанности Физического лица
    8.1. Физическое лицо имеет право:
    8.1.1. заключить с Банком Договор в соответствии с п. 3.3. Оферты, подтвердив данным действием, что
    Физическое лицо не ограничено в дееспособности, не состоит под опекой, попечительством, а
    также патронажем, по состоянию здоровья может самостоятельно осуществлять и защищать свои
    права и исполнять обязанности, не страдает заболеваниями, препятствующими осознавать суть
    заключаемого Договора и обстоятельств его заключения;
    8.1.2. совершать любые предусмотренные Договором и не запрещенные законодательством Российской
    Федерации Операции;

    8.1.3. осуществлять Операции в пределах Платежного лимита в течение срока действия Договора.
    8.2. Физическое лицо обязано:
    8.2.1. до приобретения Карты ознакомиться с условиями Оферты;
    8.2.2. соблюдать условия Договора;
    8.2.3. самостоятельно контролировать остаток Платежного лимита при совершении Операций (в т.ч. в
    объеме, достаточном для взимания Банком комиссий, предусмотренных Тарифами);
    8.2.4. проверять указываемую в Распоряжении информацию, в том числе реквизиты Получателя, в
    пользу которого совершается Перевод;
    8.2.5. самостоятельно отслеживать изменения, внесенные Банком в Оферту и/или Тарифы;
    8.2.6. нести ответственность за все Операции, совершенные до момента получения Банком от
    Физического лица уведомления об Утрате Реквизитов Карты в соответствии с пп.4.6-4.8 Оферты;
    8.2.7. предпринимать все возможные меры для предотвращения потери/Утраты Реквизитов Карты,
    не допускать незаконного использования Реквизитов Карты третьими лицами, в том числе
    не сообщать третьим лицам Реквизиты Карты, за исключением случаев, предусмотренных
    законодательством Российской Федерации.

    9.
    Ответственность Сторон
    9.1. За неисполнение или ненадлежащее исполнение обязательств по Договору Стороны несут
    ответственность в соответствии с законодательством Российской Федерации.
    9.2. Физическое лицо несет личную ответственность за достоверность номера мобильного телефона,
    указанного Физическим лицом при Оформлении Карты. В случае недостоверности указанного
    номера мобильного телефона, а также в иных случаях, обусловленных причинами, не зависящими
    от Банка (сообщение не отправлено оператором сотовой связи, номер мобильного телефона
    Физического лица заблокирован и т.п.), Банк не несет ответственность за неполучение Физическим
    лицом Реквизитов Карты и Уведомлений о совершаемых Операциях, направленных Банком
    посредством sms-сообщений. При этом денежные средства Физического лица, зачисленные на Счет,
    подлежат возврату Физическому лицу на основании Распоряжения, составленного Банком от своего
    имени в соответствии с письменным заявлением Физического лица, оформленным Физическим
    лицом при личном обращении в Банк.
    9.3. Физическое лицо несет личную ответственность за достоверность информации, указываемой в
    Распоряжении в соответствии с п.5.2 Оферты. В случае недостоверности указанной Физическим
    лицом в Распоряжении информации Банк не несет ответственность за ненадлежащее исполнение
    Физическим лицом обязательств перед Получателем, в пользу которого осуществляется Перевод.
    9.4. Физическое лицо самостоятельно несет риски любых убытков или иных негативных последствий,
    возникающих у него в результате выполнения им Операций.
    9.5. Банк несет ответственность за сохранность банковской тайны об осуществляемых Операциях.
    Сведения об Операциях предоставляются в порядке, установленном законодательством Российской
    Федерации.
    9.6. Банк не несет ответственность за любые убытки, возникшие у Физического лица в связи с тем, что
    Физическое лицо не ознакомилось и/или несвоевременно ознакомилось с условиями Оферты и/или
    Тарифами и/или изменениями и дополнениями, внесенными в Оферту и/или Тарифы в соответствии
    с п.7.1.3. Оферты.
    9.7. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение
    обязательств по Договору, если это неисполнение явилось следствием обстоятельств непреодолимой
    силы, возникших после заключения Договора в результате событий чрезвычайного характера,
    которые Сторона(ы) не могла(и) ни предвидеть, ни предотвратить разумными мерами (форс-
    мажор). К таким обстоятельствам чрезвычайного характера относятся стихийные бедствия, аварии,
    наводнения, землетрясения, эпидемии, пожары, массовые беспорядки, забастовки, революции,
    военные действия, вступление в силу законодательных актов, правительственных постановлений и
    распоряжений государственных органов, прямо или косвенно запрещающих указанные в Договоре
    виды деятельности, обстоятельства, связанные с отказом/сбоем работы системы расчетов Банка
    России, а также любые другие обстоятельства, находящиеся вне разумного контроля Сторон,
    препятствующие исполнению обязательств.

    10. Порядок рассмотрения претензий Физического лица
    10.1. Претензии Физического лица по осуществленным Переводам не принимаются и не рассматриваются
    в связи с безотзывностью осуществления Перевода согласно п.5.4 Оферты.

    10.2. Иные претензии Физического лица принимаются Банком в письменной форме по реквизитам,
    указанным в разделе 12 Оферты, не позднее 30 (Тридцати) календарных дней с даты возникновения
    обстоятельств, относительно которых заявлена претензия.
    10.3. Претензия Физического лица должна содержать следующие сведения:
    • дату и время возникновения обстоятельств, относительно которых заявлена претензия,
    • условия возникновения таких обстоятельств,
    • содержание требований Физического лица,
    • реквизиты Физического лица для направления мотивированного ответа по заявленной претензии,
    • номер и Срок действия Карты,
    • иную информацию (например, номер мобильного телефона, указанный при Оформлении Карты).
    10.4. Банк рассматривает претензию Физического лица в течение 10 (Десяти) рабочих дней со дня ее
    получения, после чего в письменной форме направляет мотивированный ответ по указанным в
    претензии реквизитам Физического лица.
    10.5. При недостижении Сторонами согласия споры, разногласия или требования, возникшие из Договора
    или в связи с ним, рассматриваются в судебных органах в соответствии с законодательством
    Российской Федерации.

    Банк предоставляет информационную поддержку Физического лица по телефонам: +7 (800) 700
    7004, +7 (495) 221 93 23. При обращении Физического лица для предоставления информации по
    Операциям, а также в иных случаях Банк проводит дополнительную идентификацию Физического
    лица по следующим данным:

    номер мобильного телефона, указанный при Оформлении Карты (если он указывался);
    номер Карты;
    Срок действия Карты или дату Оформления Карты;
    Логин для доступа к Интернет-ресурсам Банка (при его наличии);
    а также иные данные на усмотрение Банка.

    11. Срок действия Договора
    11.1. Договор считается заключенным с даты акцепта Физическим лицом Оферты в соответствии с п.3.3.
    Оферты и действует в течение Срока действия Карты.
    11.2.Физическое лицо вправе расторгнуть Договор, направив в Банк уведомление о расторжении
    Договора любым доступным ему способом, в том числе через Интернет-ресурсы Банка и/или
    Партнера.
    11.3. Банк вправе досрочно расторгнуть Договор в случаях, предусмотренных п.7.1.5 Оферты.
    11.4. При расторжении Договора по основаниям, предусмотренным в п.11.3 Оферты, Банк направляет
    Физическому лицу Уведомление об одностороннем расторжении Договора одним из следующих
    способов:
    - в электронном виде посредством Интернет-ресурсов Банка или Партнера;
    - посредством отправки sms-сообщения на номер мобильного телефона, указанный Физическим
    лицом при Оформлении Карты.
    Расторжение Договора осуществляется днем направления Физическому лицу Уведомления об
    одностороннем расторжении Договора.
    11.5.В случае расторжения Договора, Банк осуществляет Блокирование Карты, при этом остаток
    неизрасходованных денежных средств перечисляется в порядке, предусмотренном п.3.13 и п.3.14.
    Оферты.
    11.6. Прекращение действия Договора не прекращает обязательств Сторон, возникших до момента
    прекращения действия Договора.
    11.7. Оферта действует до момента ее официального отзыва Банком. В случае официального отзыва
    Банком Оферты, информация об этом размещается в порядке и сроки, установленные п.7.1.3
    Оферты.

    12. Прочие условия
    Во всем, что прямо не предусмотрено Договором, стороны руководствуются законодательством
    Российской Федерации, нормативными документами Банка России и обычаями делового оборота.
    12.2. Заключением Договора на условиях Оферты Физическое лицо, действуя по своей воле и в своем
    интересе, дает свое согласие на обработку Банком, а также его Партнерами, в случае приобретения
    Карты или совершения Операции посредством Партнера, его персональных данных, а именно
    на совершение, в том числе, следующих действий: сбор, систематизацию, накопление, хранение,

    уточнение (обновление, изменение), использование, распространение (в том числе передачу),
    обезличивание, блокирование и уничтожение любой информации, относящейся к персональным
    данным Физического лица, с целью заключения с Банком Договора, исполнения заключенного
    Договора, а также с целью выполнения требований нормативных актов по противодействию
    легализации денежных средств, полученных преступным путем. Указанные действия могут
    совершаться с использованием средств автоматизации. Физическое лицо также дает свое согласие
    на передачу Банком или Партнером, в целях осуществления действий, предусмотренных настоящим
    пунктом, его персональных данных третьим лицам при наличии надлежащим образом заключенных
    между Банком, Партнером и такими третьими лицами Договоров.
    12.3. Банк обязуется при обработке персональных данных Физического лица в полном объеме соблюдать
    требования Федерального закона Российской Федерации от 27 июля 2006 года №152-ФЗ «О
    персональных данных» (с учетом изменений и дополнений), а также изданных в его исполнение
    нормативных документов.

    Наименование, адрес и банковские реквизиты Банка
    Наименование
    АКБ «ВПБ» (ЗАО)
    Полное наименование
    Акционерный коммерческий Банк «Военно-Промышленный
    Банк» (Закрытое акционерное общество)
    ИНН
    7708009162
    КПП
    775001001
    ОГРН
    1037700098215 от 30.01.2003
    ОКПО
    40154919
    Юридический адрес
    115477, г. Москва, ул. Кантемировская, д.59а
    Фактический /почтовый адрес
    115477, г. Москва, ул. Кантемировская, д.59а
    Банк
    Отделение № 2 Московского ГТУ Банка России
    К/с
    30101810000000000250
    БИК
    044585250
    Телефон
    (495) 221-93-23
    Факс
    (495) 662-30-49
    E-mail
    info@vpb.su
</p>