#{extends 'main.html'/}
	<div class="header-container">
	    <div class="header content">
			<a class="logo" href="/">
                <img src="@{'/public/css/images/logo.png'}" alt="Instabank Logo" width="" height="" />
			</a>
            <ul class="menu">
                <li><a href="@{Application.press()}">&{'nav.press'}</a></li>
                <li><a href="@{Application.faq()}">&{'nav.faq'}</a></li>
            </ul>
            <div class="langs">
                <a class="item" href="@{Application.press("ru")}" title="RUS">RUS</a>
                <a class="item" href="@{Application.press("en")}" title="ENG">ENG</a>
            </div>
	    </div>
	</div>
	<div class="main-container">	
	    <div class="main content">
			
			<div class="page">
				<h1 class="page-title">&{'nav.press'}</h1>
				<div class="std">
                    #{list items: items, as: 'item'}
                        <div class="press-item">
                            <div class="item-logo">
                                <img src="${item.imageUrl}" alt=""/>
                            </div>
                            <p class="title">${item.title}</p>
                            <p class="intro">${item.content}</p>
                            <a class="readmore" href="${item.sourceUrl}" target="_blank">Читать полностью</a>
                        </div>
                    #{/list}
				</div>
			</div>
			
	    </div>
	</div>
