#{extends 'main.html'/}
	<div class="main-container">
	    <div class="main content">
			
			<div class="page">
				<h1 class="page-title">&{'nav.press'}</h1>
				<div class="std">
                    #{list items: items, as: 'item'}
                        <div class="press-item">
                            <div class="item-logo">
                                <img src="${item.imageUrl}" alt=""/>
                            </div>
                            <p class="title">${item.title}</p>
                            <p class="intro">${item.content}</p>
                            <a class="readmore" href="${item.sourceUrl}" target="_blank">&{'press.readmore'}</a>
                        </div>
                    #{/list}
				</div>
			</div>
			
	    </div>
	</div>
