#{extends 'main.html'/}
#{set 'moreStyles'}
<style>

    .tariffs {
        padding: 94px 60px;
    }

    .tariffs li {
        clear: both;
        overflow: auto;
        border-top: 1px solid #000000;
        padding-top: 12px;
        padding-bottom: 12px;

    }

    .tariffs li div:first-child {
        float: left;
        width: 570px;
    }

    .tariffs li div:last-child {
        float: right;
        width: 270px;
    }
</style>
#{/set}

#{set 'moreScripts'}
<script>
    function showTab(tabId) {
//        console.log('Showing tab: ' + tabId);
        $('#virtual').hide(0);
        $('#plastic').hide(0);
        $('#' + tabId).show(0);
        return false;
    }

    $(function() {
        $('a[href="#virtual"]').click(function() {
            return showTab('virtual');
        });
        $('a[href="#plastic"]').click(function() {
            return showTab('plastic');
        });
        showTab('virtual');
    });
</script>
#{/set}


<div class="main-container">
    <div class="main content tariffs" id="tabs">
        <h1>Тарифы 2013</h1>

        <div>
            <a href="#virtual">Для виртуальной карты</a> /
            <a href="#plastic">Для пластиковой карты</a>
        </div>
        <div id="virtual">

            <h2>MasterCard Virtual</h2>
            <ul>
                <li>
                    <div>Валюта Счета</div>
                    <div>Рубли РФ</div>
                </li>
                <li>
                    <div>Оформление и обслуживание карты</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Блокировка и перевыпуск карты в режиме реального времени (не более одного раза в месяц из приложения Instabank)</div>
                    <div>бесплатно</div>
                </li>
            </ul>

            <h2>Пополнение</h2>
            <ul>
                <li>
                    <div>Переводом с карты другого банка из приложения Instabank</div>
                    <div>1.95%, но не менее 50 руб.</div>
                </li>
            </ul>

            <h2>Платежи и переводы</h2>
            <ul>
                <li>
                    <div>Денежные переводы по Facebook между пользователями Instabank</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Оплата услуг</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Платежи и переводы клиента в другие банки осуществляемые по реквизитам получателя</div>
                    <div>20 руб. за одну операцию</div>
                </li>
            </ul>

            <h2>Выписки и информирование</h2>
            <ul>
                <li>
                    <div>Получение Push-уведомлений о совершенных операциях</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Предоставление копии платежных документов по карте (при обращении в отделение банка)</div>
                    <div>бесплатно</div>
                </li>
            </ul>

            <h2>Прочее</h2>
            <ul>
                <li>
                    <div>Лимиты по совершению операций по карте</div>
                    <div>Не более 15 000 руб. за одну операцию и не более 40 000 руб. в месяц</div>
                </li>
                <li>
                    <div>Комиссия при безналичной оплате товаров и услуг</div>
                    <div>Не взымается</div>
                </li>
                <li>
                    <div>Конвертация денежных средств по карте</div>
                    <div>Конвертация осуществляется по курсу Банка России на день
                        списания суммы операции со счета карты</div>
                </li>
                <li>
                    <div>Ежемесячное/ежеквартальное начисление процентов на остаток по карте</div>
                    <div>Не начисляются</div>
                </li>
                <li>
                    <div>Проценты по неразрешенному овердрафту</div>
                    <div>0% годовых от суммы перерасхода (рубли РФ)</div>
                </li>
                <li>
                    <div>Расходы банка, понесенные в связи с рассмотрением претензии по операции клиента, признанной впоследствии необоснованной</div>
                    <div>По фактическим затратам банка</div>
                </li>

            </ul>


        </div>
        <div id="plastic">
            <h2>Карта и счет</h2>
            <ul>
                <li>
                    <div>Валюта Счета</div>
                    <div>Рубли РФ</div>
                </li>
                <li>
                    <div>Тип Карты</div>
                    <div>MasterCard Standard</div>
                </li>
                <li>
                    <div>Оформление карты Instabank и открытие Счета</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Комиссия за обслуживание Счета Instabank</div>
                    <div>150 руб. в месяц</div>
                </li>
            </ul>

            <h2>Проценты, начисляемые на минимальный остаток по счету, в течение календарного месяца</h2>
            <ul>
                <li>
                    <div>От 0 до 10 000 руб.</div>
                    <div>2%</div>
                </li>
                <li>
                    <div>Cвыше 10 000 руб.</div>
                    <div>10%</div>
                </li>
                <li>
                    <div>При условии нахождения на Счете суммы свыше 100 000 рублей в течение 11 календарных месяцев
                        подряд
                    </div>
                    <div>12% (за 12-й месяц)</div>
                </li>
            </ul>

            <h2>Платежи и переводы</h2>
            <ul>
                <li>
                    <div>Денежные переводы по Facebook между Клиентами Instabank</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Оплата услуг</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Платежи и переводы Клиента в другие банки, осуществляемые по реквизитам получателя</div>
                    <div>20 руб. за каждую операцию</div>
                </li>
            </ul>

            <h2>Снятие наличных</h2>

            <h3>В рублях:</h3>
            <ul>
                <li>
                    <div>В банкоматах "Мастер-Банк"(ОАО)</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>В банкоматах, ПВН и Платежных терминалах АКБ «ВПБ» ЗАО</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>В ПВН "Мастер-Банк"(ОАО)</div>
                    <div>0.5%</div>
                </li>
                <li>
                    <div>В банкоматах и ПВН банков-участников НКО «ОРС» (ОАО)</div>
                    <div>0.5%</div>
                </li>
                <li>
                    <div>В банкоматах и ПВН других банков</div>
                    <div>1% от суммы но не менее 100 руб.</div>
                </li>
            </ul>

            <h3>В иностранной валюте:</h3>
            <ul>
                <li>
                    <div>В банкоматах и ПВН "Мастер-Банк"(ОАО), АКБ "ВПБ" ЗАО и банков участников НКО "ОРС" (ОАО)</div>
                    <div>1% от суммы но не менее 100 руб.</div>
                </li>
            </ul>

            <h2>Пополнение</h2>

            <h3>В рублях:</h3>
            <ul>
                <li>
                    <div>В банкоматах с функцией Cash In "Мастер-Банк"(ОАО)</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>В банкоматах, ПВН с функцией Cash In и Платежных терминалах АКБ "ВПБ" ЗАО</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>В ПВН "Мастер-Банк"(ОАО)</div>
                    <div>0.5%</div>
                </li>
                <li>
                    <div>В банкоматах с функцией Cash In банков-участников НКО "ОРС" (ОАО)</div>
                    <div>0.5%</div>
                </li>
                <li>
                    <div>Внесение наличной иностранной валюты</div>
                    <div>0.5%</div>
                </li>
            </ul>

            <h2>Выписки и информирование</h2>
            <ul>
                <li>
                    <div>Получение Push-уведомлений об авторизациях и состоянии Счета</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Запрос баланса по Карте в банкоматах других банков</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Предоставление Банком копии платежных документов по Карте,
                        заказ выписки по Счету в Банке, предоставление мини-выписки по Счету в банкомате Банка
                    </div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Расходы Банка, понесенные в связи с рассмотрением претензии по
                        операции Клиента, признанной впоследствии необоснованной
                    </div>
                    <div>бесплатно</div>
                </li>
            </ul>

            <h2>Блокировка и перевыпуск карты</h2>
            <ul>
                <li>
                    <div>Блокировка Карты в режиме реального времени при утере/краже Карты</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Блокировка Карты с внесением в стоп-лист (на две недели)</div>
                    <div>По фактическим затратам Банка</div>
                </li>
                <li>
                    <div>Перевыпуск Карты с тем же сроком действия и возобновление расчетов по Счету в случае утраты,
                        кражи, порчи Карты
                    </div>
                    <div>250 руб.</div>
                </li>
                <li>
                    <div>Возобновление расчетов по Счету по заявлению Клиента (без оформления новой Карты)</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Комиссия за изъятие Карты сторонним банком или торгово-сервисным предприятием</div>
                    <div>По фактическим затратам Банка</div>
                </li>
            </ul>

            <h2>Прочее</h2>
            <ul>
                <li>
                    <div>Изменение ПИН-кода с использованием банкомата</div>
                    <div>бесплатно</div>
                </li>
                <li>
                    <div>Конвертация денежных средств по Карте</div>
                    <div>Конвертация осуществляется по курсу
                        Банка России на день списания суммы
                        операции со Счета
                    </div>
                </li>
                <li>
                    <div>Проценты за превышение Доступного лимита (неразрешенный овердрафт)</div>
                    <div>50% годовых от суммы перерасхода (рубли РФ)</div>
                </li>
            </ul>
        </div>
    </div>
</div>